<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-push-4 bg-info img-rounded">
      <h3 class="text-center text-uppercase text-info">New rental</h3>
      <div class="create-book">
        <select name="users" class="form-control" [(ngModel)]="user_idd">
          <option *ngFor="let user of arrUsers | async" value="{{user.id}}">{{ user.name }}</option>
        </select>
        <select name="books" class="form-control" [(ngModel)]="book_idd">
          <option *ngFor="let book of arrBooks | async" value="{{book.id}}">{{ book.title }}</option>
        </select>
        <input class="form-control" type="text" placeholder="Return date limit (25-02-2018)" [(ngModel)]="due_date">
        <div class="text-center">
          <button class="btn btn-success" (click)="create()">Rent a book</button>
        </div>
      </div>
    </div>
  </div>