<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-push-2">
      <button class="btn btn-success" routerLink="/members/new">New Member</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-8 col-sm-push-2">
      <a [routerLink]="['/members',user.id,'edit']" class="list-group-item clearfix user" *ngFor="let user of arrUsers | async">
        <div class="pull-left user-info">
          <h4 class="list-group-item-heading text-uppercase">{{ user.name }}</h4>
          <p class="list-group-item-text">Phone: {{ user.phone }}</p>
          <p class="list-group-item-text">Email: {{ user.email }}</p>
        </div>
        <span class="pull-right">
        <img class="img-responsive" src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png" style="max-height: 100px;">
      </span>
      </a>
    </div>
  </div>
</div>
