<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-push-2">
      <button class="btn btn-success" routerLink="/rentals/new">New Rental</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-8 col-sm-push-2">
      <div class="list-group-item clearfix rental" *ngFor="let record of records | async">
        <div class="row">
          <div class="col-sm-10">
            <div class="pull-left rental-info">
              <h4 class="list-group-item-heading text-uppercase text-info">{{record.book_title}}</h4>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <label>User:</label>
                  <h4 class="list-group-item-heading">{{record.name}}</h4>
                </div>
                <div class="col-sm-6">
                  <label>Due date:</label>
                  <h4 class="list-group-item-heading">{{record.due_date}}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <img class="img-responsive" src="{{record.img}}" style="max-height: 100px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
