<div class="container">
 <div class="row">
  <div class="col-sm-4 col-sm-push-4 bg-info img-rounded">
   <h3 class="text-center text-uppercase text-info">Create user</h3>
   <div class="create-user">
    <input class="form-control" type="text" placeholder="NAME" [(ngModel)]="name">
    <input class="form-control" type="text" placeholder="PHONE" [(ngModel)]="phone">
    <input class="form-control" type="text" placeholder="EMAIL" [(ngModel)]="email">
    <div class="text-center">
     <button class="btn btn-success" (click)="create()">Create user</button>
    </div>
   </div>
  </div>
 </div>