<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['']" class="navbar-brand text-uppercase">library</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li class="text-center" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a [routerLink]="['']">Home</a></li>
        <li class="text-center" routerLinkActive="active"><a [routerLink]="['/members']">Members</a></li>
        <li class="text-center" routerLinkActive="active"><a [routerLink]="['/books']">Books</a></li>
        <li class="text-center" routerLinkActive="active"><a [routerLink]="['/rentals']">Rentals</a></li>
      </ul>
    </div>
  </div>
</nav>