<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-push-2">
      <button class="btn btn-success" routerLink="/books/new">New Book</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-8 col-sm-push-2">
      <div class="list-group-item clearfix book" *ngFor="let book of arrBooks | async">
        <div class="pull-left book-info">
          <h3 class="list-group-item-heading text-uppercase">{{book.title}}</h3>
          <hr>
          <label>Author:</label>
          <h4 class="list-group-item-heading">{{book.author}}</h4>
        </div>
        <span class="pull-right">
        <img class="img-responsive" src="{{book.img}}" style="max-height: 100px;">
      </span>
      </div>
    </div>
  </div>
</div>
