<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 bg-warning">
            <div class="text-center text-uppercase">
                <hr>
                <h3>Member card</h3>
                <hr>
                <img class="img-responsive" src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png" style="max-height: 100px; margin: 0 auto;">
                <hr>
            </div>
            <div class="left user-information">
                <h4 class="text-uppercase">Basic info:</h4>
                <p>Name: <span class="text-uppercase">{{ user.name }}</span></p>
                <p>Phone: <span class="text-uppercase">{{ user.phone }}</span></p>
                <p>Email: <span class="text-uppercase">{{ user.email }}</span></p>
                <hr>
            </div>
            <div class="left user-information">
                <h4 class="text-uppercase">Boroewd books:</h4>
                <div>
                    <ul *ngFor="let rental of user.rentals">
                        <li>{{ rental.title }} <br> --> {{ rental.due_date }}</li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>