<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-push-4 bg-info img-rounded">
      <h3 class="text-center text-uppercase text-info">Create Book</h3>
      <div class="create-book">
        <input class="form-control" type="text" placeholder="TITLE" [(ngModel)]="title">
        <input class="form-control" type="text" placeholder="AUTHOR" [(ngModel)]="author">
        <div class="text-center">
          <button class="btn btn-success" (click)="create()">Create book</button>
        </div>
      </div>
    </div>
  </div>