<div class="container">
  <div class="row">
    <div class="text-center text-uppercase col-xs-12">
      <p>welcome to:</p>
      <h1 class="text-primary"><strong><em>My test library</em></strong></h1>
      <hr>
      <img style="margin: 0 auto;" class="img-responsive img-rounded" src="https://kbimages1-a.akamaihd.net/13b4623a-adee-454b-a278-b5e15edf7f93/353/569/90/False/learning-angular-second-edition.jpg" alt="">
      <hr>
      <button [routerLink]="['/rentals/new']" type="button" class="btn btn-lg btn-warning">Rent a book to a member</button>
    </div>
  </div>
</div>
